[NetDev]
Name=wg0
Kind=wireguard

[WireGuard]
PrivateKeyFile=/etc/systemd/network/wg0.key

{% for host in groups['gateway'] %}
# {{ host }}
[WireGuardPeer]
PublicKey={{ lookup('file', host + '/etc/systemd/network/wg0.pub') }}
AllowedIPs={{ hostvars[host]['wg0_ipv4'] }},{{ hostvars[host]['wg0_ipv6'] }}
Endpoint={{ hostvars[host]['public_endpoint'] }}:32487
PersistentKeepalive=25

{% endfor %}
