#!/usr/bin/nft -f

table inet filter {

  chain input {
    type filter hook input priority filter; policy drop;

    # allow established/related connections
    ct state {established, related} accept

    # early drop of invalid connections
    ct state invalid drop

    # allow from loopback
    iif lo accept

    # allow icmp
    ip protocol icmp accept
    ip6 nexthdr icmpv6 accept

    # allow ssh
    tcp dport ssh accept

    # allow syncthing
    tcp dport 22000 accept
    udp dport 21027 accept
    # allow syncthing GUI from wg0
    iifname wg0 tcp dport 8384 accept

{% if inventory_hostname not in groups['laptops'] %}
    # allow wireguard
    udp dport 32487 accept

{% endif %}
{% if inventory_hostname in groups['storage'] or inventory_hostname in groups['gateway'] %}
    # allow NFS
    tcp dport {111, 2049, 20048} accept
    udp dport {111, 2049, 20048} accept

{% endif %}
{% if inventory_hostname in groups['gateway'] %}
    # allow https?
    tcp dport {80, 443} accept

    # allow tinc
    tcp dport 655 accept
    udp dport 655 accept

    # allow Unifi Controller
    tcp dport 8080 accept
    udp dport {8080, 3478, 10001} accept

{% endif %}
{% if inventory_hostname in groups['storage'] %}
    # allow transmission
    tcp dport 56338 accept
    udp dport 56338 accept
    # allow transmission RPC from wg0
    iifname wg0 tcp dport 9091 accept

{% endif %}
    # log and count other
    limit rate 4/minute log prefix "[nftables filter] " flags all
    counter
  }

  chain forward {
    type filter hook forward priority filter; policy drop;
{% if inventory_hostname in groups['gateway'] %}

    # allow established/related connections
    ct state { established, related } accept

    # forward wireguard traffic
    iifname wg0 oifname wg0 accept
{% endif %}
  }

  chain output {
    type filter hook output priority filter;
  }

}

{% if inventory_hostname in groups['gateway'] %}
table ip nat {

  chain prerouting {
    type nat hook prerouting priority dstnat; policy accept;
  }

  chain postrouting {
    type nat hook postrouting priority srcnat; policy accept;
  }

}

{% endif %}
# vim:set ts=2 sw=2 et:
